<h1><%= t('articles.new') %></h1>

<% if @article && @article.errors.any? %>
<% @article.errors.each do |error| %>
<p><%= error.full_message %></p>
<% end %>
<% end %>

<%= form_for :article, url: articles_path, data: { turbo: false } do |f| %>
<p>
	<%= f.label t('articles.label_title') %><br />
	<%= f.text_field :title %>
</p>

<p>
	<%= f.label t('articles.label_text') %><br />
	<%= f.text_area :text %>
</p>

<p>
	<%= f.submit %>
</p>
<% end %>